{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>About us</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolorum eaque earum molestias natus temporibus voluptas. Mollitia officiis quae tempore!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut eveniet fuga illum iure maiores modi, odio possimus sed unde.
        </p>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

